body{
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 25px;
  text-align: center;
  font-family: 方正兰亭超细黑简体;
  letter-spacing: 25px;
}
label {
  font-size: 20px;

}
input{
  outline-style: none ;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 13px 14px;
  width: 220px;
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  font-family: "Microsoft soft";
}
input:focus{
  border-color: bisque;
  outline: #039be5;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 20px 120px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
a button{
  border-radius:30px;
  padding: 10px;
  text-align: center;
  -webkit-transition-duration: 0.25s; /* 设置响应时间 */
  transition-duration: 0.25s;
}
a button:hover{
  background-color: seashell; /* Green */
  color: gray;
}
.aaa{
  border-radius:30px;
  padding: 10px;
  text-align: center;
  -webkit-transition-duration: 0.25s; /* 设置响应时间 */
  transition-duration: 0.25s;
}
.aaa:hover{
  background-color: seashell; /* Green */
  color: gray;
}
.tablelist{ width:90%; border:0; margin-top:5px; }
.tablelist tr th{
  line-height:30px;
  border-bottom:1px;
  color: black;
  border-radius:3px;
  background: #d58512;
  text-align: center;
}
td  {
  font:normal 15px/17px Arial;
  padding:15px;
  width:100px;
}
th  {
  font:bold 12px/17px Arial;
  text-align:left;padding:4px;
  border-bottom:1px solid #333;
}
.tablelist .badge{
  background-color:#eef;
  line-height:30px;
  color:#405061;
  text-align: center;
}
.tablelist .badge:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.tablelist td {
}

.tablelist a {
  color: #039be5;
  text-decoration: none;
}
.tablelist a:hover {
  color:#607D8B;
}
.tablelist button {
  background-color: silver !important;
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius:30px;
  margin-right:10px;
  cursor:hand;
}
.tablelist button:hover {
  background-color: yellow;

}
.in input,textarea,select{
  width:140px; line-height: 20px;
  border-radius: 3px;
  background-color: #eeeeff;
  margin-bottom: 10px;
}
textarea{margin-top: 10px;}
.remark{display:inline-block; padding-bottom:50px; width:70px}
