<header>
  <div style="position: absolute;left: 0px"><iframe src="assets/a.html" frameborder="0" height=60px></iframe></div>
  <h1>教务管理系统</h1>
</header>
<nav>
  <div>&nbsp;&nbsp;&nbsp;用&nbsp;&nbsp;户：{{name}}</div>
  <div *ngFor="let menusRole of dynamicMenus">
    <a><strong>{{menusRole.role.description}}</strong></a>
    <a routerLink="{{menu.url}}" *ngFor="let menu of menusRole.menus">&nbsp;&nbsp;&nbsp;&nbsp;{{menu.description}}</a>
  </div>
  <a routerLink="/logout"><strong>退出登录>></strong></a>

</nav>
<section><router-outlet></router-outlet></section>
